{% extends 'templates/base.html' %}

{% block title %}Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/auth/login.css">
{% endblock %}

{% block body %}
    <form action="">
        <h1>Selamat Datang</h1>
        <p>Silahkan login terlebih dahulu.</p>
        <label>
            <p>Username</p>
            <input type="text" name="username" placeholder="username">
        </label>
        <label>
            <p>Password</p>
            <input type="password" name="password" placeholder="password">
        </label>
        <button>Login</button>
        <p>Belum punya akun? <a href="/register">Daftar</a></p>
    </form>
{% endblock %}