@import '../base.css';

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--y-padding) max(var(--x-padding), var(--y-padding));
}

body > form {
    width: 100%;
    max-width: max-content;
    padding: var(--y-padding);
    border-radius: calc(32 * var(--scaling-factor));
    background: rgb(var(--bg-color-2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(16 * var(--scaling-factor));
}

body > form > * {
    text-align: center;
}

body > form > fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(16 * var(--scaling-factor));
}

body > form > fieldset > label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: calc(4 * var(--scaling-factor));
}

body > form > fieldset > label > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: calc(4 * var(--scaling-factor));
}

body > form > fieldset > label > p, body > form > fieldset > label > div > p {
    text-align: start;
}

body > form > fieldset > label > div > .visibility-toggle {
    height: calc(16 * var(--scaling-factor));
    width: calc(16 * var(--scaling-factor));
    cursor: pointer;
}

body > form > fieldset > label > div > .visibility-toggle > svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body > form > fieldset > label > input {
    width: 100%;
    border-radius: calc(8 * var(--scaling-factor));
    padding: calc(4 * var(--scaling-factor)) calc(8 * var(--scaling-factor));
    background: rgba(var(--fg-color), 12.5%);
    font-size: calc(16 * var(--scaling-factor));
    line-height: 150%;
}

body > form > fieldset > button {
    font-size: calc(16 * var(--scaling-factor));
    font-weight: 700;
    color: rgb(var(--light));
    width: 100%;
    border-radius: calc(8 * var(--scaling-factor));
    padding: calc(8 * var(--scaling-factor));
    background: rgb(var(--primary-color));
    cursor: pointer;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

body > form > fieldset:disabled {
    opacity: 75%;
}

body > form > fieldset:disabled > button:after {
    content: '';
    display: block;
    position: absolute;
    right: calc(8 * var(--scaling-factor));
    top: 50%;
    transform: translateY(-50%);
    transform-origin: top;
    width: calc(16 * var(--scaling-factor));
    height: calc(16 * var(--scaling-factor));
    border: calc(4 * var(--scaling-factor)) solid rgb(var(--light));
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: spin 1s linear infinite;
}