body > * {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/* #screens-bank */
/* #inactive-screens */

#screens-bank, #inactive-screens {
    display: none;
}

/* #active-screens */

#active-screens {
    background: rgb(var(--bg-color));
}

/* .screen */

.screen {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    background: rgba(var(--dark), var(--shadow-opacity));
    box-shadow: 0 0 0 150vmax rgba(var(--dark), var(--shadow-opacity));
    overflow: auto;
}

.screen.moving-in, .screen.moving-out {
    scale: 25%;
    border-radius: 16px;
    opacity: 0;
    pointer-events: none;
}