@import 'base.css';

body > * {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

@keyframes spin {
    from {
        rotate: z 0deg;
    }
    to {
        rotate: z 360deg;
    }
}

body::before {
    content: '';
    position: fixed;
    width: calc(64 * var(--scaling-factor));
    height: calc(64 * var(--scaling-factor));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0% 0%;
    background: transparent;
    border-radius: 100%;
    border: calc(8 * var(--scaling-factor)) solid rgb(var(--fg-color));
    border-top-color: transparent;
    animation: 1s linear infinite spin;
}

/* #screens-bank */
/* #inactive-screens */

#screens-bank, #inactive-screens {
    display: none;
}

/* #active-screens */

#active-screens {
    background: rgb(var(--bg-color));
}

/* .screen */

.screen {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    background: rgba(var(--dark), var(--shadow-opacity));
    box-shadow: 0 0 0 25vmax rgba(var(--dark), var(--shadow-opacity));
    overflow: auto;
}

.screen.inactive {
    scale: 75%;
    border-radius: calc(16 * var(--scaling-factor));
    opacity: 0;
    pointer-events: none;
}

.screen:not(.inactive):not(:last-child):not(:has(+ .inactive)) {
    scale: 125%;
}