@import '../base.css';

:root {
    --table-row-border-radius: calc(8 * var(--scaling-factor));
    --details-table-spacing-x: calc(16 * var(--scaling-factor));
    --details-table-spacing-y: calc(16 * var(--scaling-factor));
    --section-padding: calc(16 * var(--scaling-factor));
}

body:has(button#save-button:disabled) * {
    cursor: wait !important;
}

body > div > main > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: calc(24 * var(--scaling-factor));
}

body > div > main > form :disabled {
    opacity: 75%;
    cursor: not-allowed;
}

body > div > main > form :is(input, select, textarea) {
    font-size: calc(18 * var(--scaling-factor));
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    border-bottom: calc(1 * var(--scaling-factor)) solid rgba(var(--fg-color-2), 50%);
    margin-bottom: calc(-1 * var(--scaling-factor));
    width: 100%;
}

body > div > main > form select {
    cursor: pointer;
}

body > div > main > form select > option {
    color: currentColor;
    background: rgb(var(--bg-color-2));
}

body > div > main > form select > option[disabled] {
    background: rgb(var(--bg-color));
    filter: brightness(50%);
}

body > div > main > form :is(input, select, textarea):focus {
    outline: none;
    border-bottom: calc(2 * var(--scaling-factor)) solid rgba(var(--fg-color-2), 100%);
    margin-bottom: calc(-2 * var(--scaling-factor));
}

body > div > main > form :is(select, textarea):focus {
    margin-bottom: calc(calc(-2 - calc(1 / 3)) * var(--scaling-factor));
}

body > div > main > form div#table input {
    min-width: calc(64 * var(--scaling-factor));
    field-sizing: content;
}

body > div > main > form textarea {
    resize: none;
    min-height: 1lh;
    field-sizing: content;
}

body > div > main > form > div#main {
    width: 100%;
    gap: calc(24 * var(--scaling-factor));
    padding: var(--section-padding);
    background: rgb(var(--bg-color-2));
    border-radius: var(--section-padding);
}

body > div > main > form > div#main > div.wrap-table {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--details-table-spacing-y);
}

body > div > main > form > div#main > div.wrap-table > div {
    flex-grow: 1;
}

body > div > main > form > div#main > div.wrap-table > div > table {
    border-collapse: separate;
    border-spacing: var(--details-table-spacing-x) var(--details-table-spacing-y);
    margin: calc(var(--details-table-spacing-y) * -1) calc(var(--details-table-spacing-x) * -1);
    width: calc(100% + calc(var(--details-table-spacing-y) * 2));
}

body > div > main > form > div#main > div.wrap-table > div > table > tbody > tr > td {
    vertical-align: top;
}

body > div > main > form > div#main > div.wrap-table > div > table > tbody > tr > td:first-child * {
    font-weight: 600;
}

body > div > main > form > div#main > div.wrap-table > div > table > tbody > tr > td:nth-child(2) {
    padding-right: var(--details-table-spacing-x);
}

body > div > main > form > div#main > div.wrap-table > div > table > tbody > tr > td:not(:first-child, :nth-child(2)) {
    width: 100%;
}

/* body > div > main > form > div#main > div.wrap-table > div > table > tbody > tr > td:not(:first-child, :nth-child(2)) * {
    user-select: text;
} */

body > div > main > form > div#main > div.wrap-table > div > table > tbody > tr > td :is(input, textarea) {
    field-sizing: content;
}

body > div > main > form > div#main > div#table {
    margin-left: calc(var(--section-padding) * -1);
    padding-left: var(--section-padding);
    margin-right: calc(var(--section-padding) * -1);
    padding-right: var(--section-padding);
    width: calc(100% + var(--section-padding) + var(--section-padding));
    overflow-x: auto;
}

body > div > main > form > div#main > div#table > table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 100%;
    width: max-content;
}

body > div > main > form > div#main > div#table > table * {
    text-align: start;
}

body > div > main > form > div#main > div#table > table > :is(thead, tbody) > :is(thead > tr, tbody > tr:nth-child(2n)) {
    background: rgb(var(--bg-color));
}

body > div > main > form > div#main > div#table > table > tbody > tr#line-template:last-child {
    display: none;
}

body > div > main > form > div#main > div#table > table > tbody > tr > td:last-child:has(> div:only-child) {
    width: 0;
}

body > div > main > form > div#main > div#table > table > tbody > tr > td:last-child > div:only-child {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: calc(4 * var(--scaling-factor));
    height: 100%;
    width: 100%;
}

body > div > main > form > div#main > div#table > table > tbody > tr > td:last-child > div:only-child > div:has(> svg:only-child) {
    aspect-ratio: 1 / 1;
    height: calc(24 * var(--scaling-factor));
    border-radius: calc(4 * var(--scaling-factor));
    cursor: pointer;
}

body > div > main > form > div#main > div#table > table > tbody > tr > td:last-child > div:only-child > div > svg:only-child {
    margin: calc(-2 * var(--scaling-factor));
}

body > div > main > form > div#main > div#table > table > :is(thead, tbody) > tr > :is(th, td) {
    padding: calc(8 * var(--scaling-factor)) calc(12 * var(--scaling-factor));
}

body > div > main > form > div#main > div#table > table > :is(thead, tbody) > tr > :is(th, td):is(:first-child) {
    border-radius: var(--table-row-border-radius) 0 0 var(--table-row-border-radius);
    padding-left: calc(8 * var(--scaling-factor));
}

body > div > main > form > div#main > div#table > table > :is(thead, tbody) > tr > :is(th, td):is(:last-child) {
    border-radius: 0 var(--table-row-border-radius) var(--table-row-border-radius) 0;
    padding-right: calc(8 * var(--scaling-factor));
}

body > div > main > form > div#main > div#table > table > thead * {
    font-weight: 600;
}

/* body > div > main > form > div#main > div#table > table > tbody > tr > td:is(:nth-child(2), :nth-child(4)) > p::first-letter {
    text-transform: uppercase;
} */

/* body > div > main > form > div#main > div#table > table > tbody * {
    user-select: text;
} */

body > div > main > form > div#main > div:not(#table, .wrap-table) {
    gap: calc(8 * var(--scaling-factor));
    width: 100%;
}

body > div > main > form > div#main > div:not(#table, .wrap-table) > :first-child {
    font-weight: 600;
}

/* body > div > main > form > div#main > div:not(#table, .wrap-table) > :not(:first-child) {
    user-select: text;
} */

body > div > main > form > div#main + div {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap ;
    gap: var(--details-table-spacing-y);
    opacity: 90%;
}

body > div > main > form > div#main + div * {
    color: rgb(var(--fg-color-2));
    font-size: calc(16 * var(--scaling-factor));
}

body > div > main > form > div#main + div > div {
    flex-grow: 1;
}

body > div > main > form > div#main + div > div > table {
    --table-spacing-x: calc(8 * var(--scaling-factor));
    --table-spacing-y: calc(16 * var(--scaling-factor));
    border-collapse: separate;
    border-spacing: var(--table-spacing-x) var(--table-spacing-y);
    margin: calc(var(--table-spacing-y) * -1) calc(var(--table-spacing-x) * -1);
    width: fit-content;
}

body > div > main > form > div#main + div > div > table > tbody > tr > td {
    vertical-align: top;
}

body > div > main > form > div#main + div > div > table > tbody > tr > td:first-child * {
    font-weight: 600;
}

body > div > main > form > div#main + div > div > table > tbody > tr > td:nth-child(2) {
    padding-right: var(--table-spacing-x);
}

body > div > main > form > div#main + div > div > table > tbody > tr > td:not(:first-child, :nth-child(2)) * {
    user-select: text;
}

body > div > main > form > div#main + div > div > table > tbody > tr > td:not(:first-child, :nth-child(2)) > a:has(> p) {
    display: inline-block;
    width: min-content;
}

body > div > main > form > div#main + div > div > table > tbody > tr > td:not(:first-child, :nth-child(2)) > a > p {
    width: max-content;
}

body > div > main > form a::after {
    content: '';
    position: absolute;
    inset: 0;
    outline: calc(2 * var(--scaling-factor)) solid transparent;
    outline-offset: 0;
    pointer-events: none;
    border-radius: calc(2 * var(--scaling-factor));
}

body > div > main > form a:focus-visible::after {
    outline-offset: calc(2 * var(--scaling-factor));
    outline-color: currentColor;
}

body > div > main > form > div#main + div + div:not(:has(> :not(button))) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--main-padding);
}

body > div > main > form > div#main + div + div:not(:has(> :not(button))) * {
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

body > div > main > form > div#main + div + div:not(:has(> :not(button))) > * {
    display: flex;
    padding: calc(8 * var(--scaling-factor)) calc(16 * var(--scaling-factor));
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-width: min(100%, calc(256 * var(--scaling-factor)));
    max-width: 100%;
    background: rgb(var(--bg-color-2));
    border-radius: calc(12 * var(--scaling-factor));
}

body > div > main > form > div#main + div + div:not(:has(> :not(button))) > #save-button {
    background: color-mix(in oklab, rgb(var(--bg-color)) 25%, green);
}

body > div > main > form > div#main + div + div:not(:has(> :not(button))) > #save-button * {
    color: color-mix(in oklab, rgb(var(--fg-color)) 25%, rgb(var(--light)));
}

body > div > main > form > div#main + div + div:not(:has(> :not(button))) > #save-button:disabled::after {
    content: '';
    display: block;
    position: absolute;
    right: calc(12 * var(--scaling-factor));
    left: initial;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: top;
    width: calc(16 * var(--scaling-factor));
    height: calc(16 * var(--scaling-factor));
    border: calc(4 * var(--scaling-factor)) solid rgb(var(--light));
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: spin 1s linear infinite;
}

body > div > main > form > div#main + div + div:not(:has(> :not(button))) > #cancel-button {
    background: color-mix(in oklab, rgb(var(--bg-color)) 25%, red);
}

body > div > main > form > div#main + div + div:not(:has(> :not(button))) > #cancel-button * {
    color: color-mix(in oklab, rgb(var(--fg-color)) 25%, rgb(var(--light)));
}