@import '../base.css';

:root {
    --table-row-border-radius: calc(8 * var(--scaling-factor));
}

body > div > main > div#table {
    margin-left: calc(var(--main-padding) * -1);
    padding-left: var(--main-padding);
    margin-right: calc(var(--x-padding) * -1);
    padding-right: var(--x-padding);
    width: calc(100% + var(--main-padding) + var(--x-padding));
    overflow-x: auto;
}

body > div > main > div#table > table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 100%;
    width: max-content;
}

body > div > main > div#table > table * {
    text-align: start;
}

body > div > main > div#table > table > :is(thead, tbody) > :is(thead > tr, tbody > tr:nth-child(2n)) {
    background: rgb(var(--bg-color-2));
}

body > div > main > div#table > table > :is(thead, tbody) > tr > :is(th, td) {
    padding: calc(8 * var(--scaling-factor)) calc(16 * var(--scaling-factor));
}

body > div > main > div#table > table > :is(thead, tbody) > tr > :is(th, td):is(:first-child) {
    border-radius: var(--table-row-border-radius) 0 0 var(--table-row-border-radius);
    padding-left: calc(8 * var(--scaling-factor));
}

body > div > main > div#table > table > :is(thead, tbody) > tr > :is(th, td):is(:last-child) {
    border-radius: 0 var(--table-row-border-radius) var(--table-row-border-radius) 0;
    padding-right: calc(8 * var(--scaling-factor));
}

body > div > main > div#table > table > thead * {
    font-weight: 600;
}

body > div > main > div#table > table > tbody > tr {
    cursor: pointer;
}

body > div > main > div#table > table > tbody > tr:is(:nth-child(n)):is(:hover, :has(:focus)) {
    background: rgba(var(--bg-color-2), 50%);
}

body > div > main > div#table > table > tbody > tr:active {
    filter: brightness(75%);
}

body > div > main > div#table > table > tbody > tr > td {
    position: static;
}

body > div > main > div#table > table > tbody > tr > td:first-child > a[href]:empty {
    position: absolute;
    display: block;
    inset: 0;
    z-index: 1;
}

body > div > main > div:last-child:not(:has(> :not(a))) {
    flex-direction: row;
    justify-content: end;
    gap: calc(24 * var(--scaling-factor));
    width: 100%;
    position: sticky;
    bottom: var(--y-padding);
    z-index: 1;
    pointer-events: none;
}

body > div > main > div:last-child:not(:has(> :not(a))) > a {
    display: block;
    z-index: 2;
    pointer-events: all;
    width: calc(40 * var(--scaling-factor));
    height: calc(40 * var(--scaling-factor));
    background: rgb(var(--bg-color-2));
    border-radius: calc(10 * var(--scaling-factor));
    box-shadow: 0 0 calc(calc(12 * var(--scaling-factor))) calc(calc(12 * var(--scaling-factor))) rgb(var(--bg-color));
}

body > div > main > div:last-child:not(:has(> :not(a))) > a:active {
    box-shadow: none;
}

body > div > main > div:last-child:not(:has(> :not(a))) > a > svg:not(.plus) {
    margin: calc(8 * var(--scaling-factor));
}