@import '../base.css';

:root {
    --table-row-border-radius: calc(8 * var(--scaling-factor));
    --details-table-spacing-x: calc(16 * var(--scaling-factor));
    --details-table-spacing-y: calc(16 * var(--scaling-factor));
    --section-padding: calc(16 * var(--scaling-factor));
}

body > div > main > div#main {
    gap: calc(24 * var(--scaling-factor));
    padding: var(--section-padding);
    background: rgb(var(--bg-color-2));
    border-radius: var(--section-padding);
}

body > div > main > div#main > div.wrap-table {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--details-table-spacing-y);
}

body > div > main > div#main > div.wrap-table > div {
    flex-grow: 1;
}

body > div > main > div#main > div.wrap-table > div > table {
    border-collapse: separate;
    border-spacing: var(--details-table-spacing-x) var(--details-table-spacing-y);
    margin: calc(var(--details-table-spacing-y) * -1) calc(var(--details-table-spacing-x) * -1);
    width: fit-content;
}

body > div > main > div#main > div.wrap-table > div > table > tbody > tr > td {
    vertical-align: top;
}

body > div > main > div#main > div.wrap-table > div > table > tbody > tr > td:first-child * {
    font-weight: 600;
}

body > div > main > div#main > div.wrap-table > div > table > tbody > tr > td:nth-child(2) {
    padding-right: var(--details-table-spacing-x);
}

body > div > main > div#main > div.wrap-table > div > table > tbody > tr > td:not(:first-child, :nth-child(2)) * {
    user-select: text;
}

body > div > main > div#main > div#table {
    margin-left: calc(var(--section-padding) * -1);
    padding-left: var(--section-padding);
    margin-right: calc(var(--section-padding) * -1);
    padding-right: var(--section-padding);
    width: calc(100% + var(--section-padding) + var(--section-padding));
    overflow-x: auto;
}

body > div > main > div#main > div#table > table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 100%;
    width: max-content;
}

body > div > main > div#main > div#table > table * {
    text-align: start;
}

body > div > main > div#main > div#table > table > :is(thead, tbody) > :is(thead > tr, tbody > tr:nth-child(2n)) {
    background: rgb(var(--bg-color));
}

body > div > main > div#main > div#table > table > :is(thead, tbody) > tr > :is(th, td) {
    padding: calc(8 * var(--scaling-factor)) calc(16 * var(--scaling-factor));
}

body > div > main > div#main > div#table > table > :is(thead, tbody) > tr > :is(th, td):is(:first-child) {
    border-radius: var(--table-row-border-radius) 0 0 var(--table-row-border-radius);
    padding-left: calc(8 * var(--scaling-factor));
}

body > div > main > div#main > div#table > table > :is(thead, tbody) > tr > :is(th, td):is(:last-child) {
    border-radius: 0 var(--table-row-border-radius) var(--table-row-border-radius) 0;
    padding-right: calc(8 * var(--scaling-factor));
}

body > div > main > div#main > div#table > table > thead * {
    font-weight: 600;
}

body > div > main > div#main > div#table > table > tbody > tr > td:is(:nth-child(2), :nth-child(4)) > p::first-letter {
    text-transform: uppercase;
}

body > div > main > div#main > div#table > table > tbody * {
    user-select: text;
}

body > div > main > div#main > div:not(#table, .wrap-table) {
    gap: calc(8 * var(--scaling-factor));
}

body > div > main > div#main > div:not(#table, .wrap-table) > :first-child {
    font-weight: 600;
}

body > div > main > div#main > div:not(#table, .wrap-table) > :not(:first-child) {
    user-select: text;
}

body > div > main > div#main + div {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap ;
    gap: var(--details-table-spacing-y);
    opacity: 90%;
}

body > div > main > div#main + div * {
    color: rgb(var(--fg-color-2));
    font-size: calc(16 * var(--scaling-factor));
}

body > div > main > div#main + div > div {
    flex-grow: 1;
}

body > div > main > div#main + div > div > table {
    --table-spacing-x: calc(8 * var(--scaling-factor));
    --table-spacing-y: calc(16 * var(--scaling-factor));
    border-collapse: separate;
    border-spacing: var(--table-spacing-x) var(--table-spacing-y);
    margin: calc(var(--table-spacing-y) * -1) calc(var(--table-spacing-x) * -1);
    width: fit-content;
}

body > div > main > div#main + div > div > table > tbody > tr > td {
    vertical-align: top;
}

body > div > main > div#main + div > div > table > tbody > tr > td:first-child * {
    font-weight: 600;
}

body > div > main > div#main + div > div > table > tbody > tr > td:nth-child(2) {
    padding-right: var(--table-spacing-x);
}

body > div > main > div#main + div > div > table > tbody > tr > td:not(:first-child, :nth-child(2)) * {
    user-select: text;
}

body > div > main a::after {
    content: '';
    position: absolute;
    inset: 0;
    outline: calc(2 * var(--scaling-factor)) solid transparent;
    outline-offset: 0;
    pointer-events: none;
    border-radius: calc(2 * var(--scaling-factor));
}

body > div > main a:focus-visible::after {
    outline-offset: calc(2 * var(--scaling-factor));
    outline-color: currentColor;
}