<div>
    <div>
        {% include 'components/svg/mosque.html' %}
    </div>
    <h1>Hasanah</h1>
</div>
<nav>
    <div>
        <a>
            <div>
                {% include 'components/svg/mosque.html' %}
            </div>
            <h2>Menu 1</h2>
        </a>
        <div>
            <a>
                <div>
                    {% include 'components/svg/mosque.html' %}
                </div>
                <h3>Submenu 1</h3>
            </a>
            <a>
                <div>
                    {% include 'components/svg/mosque.html' %}
                </div>
                <h3>Submenu 2</h3>
            </a>
        </div>
    </div>
    <div>
        <a>
            <div>
                {% include 'components/svg/mosque.html' %}
            </div>
            <h2>Menu 2</h2>
        </a>
        <div>
            <a>
                <div>
                    {% include 'components/svg/mosque.html' %}
                </div>
                <h3>Submenu 1</h3>
            </a>
            <a>
                <div>
                    {% include 'components/svg/mosque.html' %}
                </div>
                <h3>Submenu 2</h3>
            </a>
        </div>
    </div>
</nav>
<a></a>