<div>
    <div>
        {% include 'components/svg/mosque.html' %}
    </div>
</div>
<nav>
    <div>
        <a>
            <div>
                {% include 'components/svg/home.html' %}
            </div>
            <h2>Home</h2>
        </a>
    </div>
    <div>
        <a>
            <div>
                {% include 'components/svg/sack.html' %}
            </div>
            <h2>ZIS</h2>
        </a>
        <div>
            <a>
                <div>
                    {% include 'components/svg/in.html' %}
                </div>
                <h3>Pembayaran</h3>
            </a>
        </div>
    </div>
</nav>
<a></a>