@import '../base.css';

body > div > main > div {
    gap: 0;
}

body > div > main > div > label {
    padding: calc(16 * var(--scaling-factor)) calc(8 * var(--scaling-factor));
    margin: 0 calc(-8 * var(--scaling-factor));
    border-radius: calc(16 * var(--scaling-factor));
    width: calc(100% + calc(16 * var(--scaling-factor)));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

body > div > main > div > label:has(input[disabled]) {
    cursor: not-allowed;
    opacity: 75%;
}

body > div > main > div > label:is(:hover, :has(:focus-visible)) {
    background: rgb(var(--bg-color-2));
}

body > div > main > div > label:has(input[disabled]):is(:hover, :has(:focus-visible)) {
    background: transparent;
}

body > div > main > div > label.loading::after {
    content: '';
    display: block;
    position: absolute;
    right: calc(64 * var(--scaling-factor));
    top: 50%;
    transform: translateY(-50%);
    transform-origin: top;
    width: calc(16 * var(--scaling-factor));
    height: calc(16 * var(--scaling-factor));
    border: calc(4 * var(--scaling-factor)) solid rgb(var(--light));
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: spin 1s linear infinite;
}

body > div > main > div > label > input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

body > div > main > div > label > .slider {
    --height: calc(24 * var(--scaling-factor));
    aspect-ratio: 2 / 1;
    height: var(--height);
    border-radius: 100vmax;
    background: rgb(var(--darker-light));
    box-shadow: 0 0 var(--height) 0 rgb(var(--lighter-dark)) inset;
}

body > div > main > div > label > .slider::before {
    --padding: calc(8 * var(--scaling-factor));
    content: '';
    position: absolute;
    top: 50%;
    left: calc(var(--padding) / 2);
    aspect-ratio: 1 / 1;
    height: calc(100% - var(--padding));
    background: rgb(var(--light));
    border-radius: 100vmax;
    transform: translateY(-50%);
    box-shadow: 0 0 var(--height) 0 rgb(var(--lighter-dark));
}

body > div > main > div > label:has(input:checked) > .slider {
    background: color-mix(in oklab, rgb(var(--fg-color)), green 96%);
}

body > div > main > div > label:has(input:checked) > .slider::before {
    transform: translateY(-50%) translateX(calc(var(--height)));
}