{% extends 'templates/page.html' %}

{% block title %}User - ZIS{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/pages/users/index.css">
    <!-- <script type="module" src="/static/js/users/index.js"></script> -->
{% endblock %}

{% block main %}
    <h2>Daftar User</h2>
    <div>
        {% for target_user in users %}
            <a href="users/{{ target_user.username }}" {% if user.username == target_user.username %}id="you" data-label="Anda"{% endif %}>
                <div>{% include 'components/svg/user.html' %}</div>
                <div>
                    <h3>{{ target_user.name }}</h3>
                    <p>{{ target_user.username }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}