{% extends 'templates/page.html' %}

{% block title %}Kirim Tanda Terima - Pembayaran - ZIS{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/pages/payments/send-receipt.css">
    <script type="module" src="/static/js/payments/send-receipt.js"></script>
{% endblock %}

{% block main %}
    <h2>Kirim Tanda Terima Pembayaran</h2>
    <div>
        <button class="send-button" data-via="wa" {% if payment.payer_number is none %}disabled{% endif %}><p>Kirim via WhatsApp</p></button>
        <!-- <button class="send-button" data-via="email" {% if payment.payer_email is none %}disabled{% endif %}><p>Kirim via Email</p></button> -->
    </div>
    <iframe src="receipt"></iframe>
{% endblock %}